//Fonts
$first-font:'Playfair Display', serif;
$second-font:'Josefin Sans', sans-serif;
$third-font:'Roboto', sans-serif;


//Color
$first-color:#7fc520;
$btn-color:#16888c;
$grey-color:#a29797;

//

$transition:600ms;
$gutter:40px;