@import "_normalize.scss";
@import "_fonts.scss";
@import "_variable.scss";
@import "_social-icon.scss";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $third-font;
}
a{
    text-decoration: none;
}
li,ul{
    list-style: none;
}
