@import "_normalize.scss";
@import "_fonts.scss";
@import "_variable.scss";
@import "_social-icon.scss";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $third-font;
}
a{
    text-decoration: none;
}
li,ul{
    list-style: none;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    position: relative;
}

#head{
    .head-top{
        width: 100%;
        height: $gutter;
        background-color: #f5f5f5;
        .top{
            display: flex;
            justify-content: flex-end;
            font-size: 11px;
            line-height: 30px;
            a{
                padding: 4px;
                font-weight: 400;
                color: $grey-color;
                border-left: 1px solid $first-color;
                padding-left: 10px;
                padding-right: 10px;
                &:hover{
                    border-bottom: 1px solid $first-color;
                    transition: $transition;
                }
                &:nth-child(4){
                    text-transform: uppercase;
                }
                &:nth-child(1){
                    margin-left: 0;
                    margin-right: 20px;
                    font-weight: bold;
                    i{
                        color: $first-color;
                        margin-right: .5rem;
                        font-weight: 500;
                        font-size: 20px;

                    }
                }
            }
        }
    }
    .head-middle{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 20%;
            height: auto;
            img{
                width: auto;
                height: 100%;
                object-fit: cover;
            }
        }
        .head-middle-right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            white-space: nowrap;
            margin-right: 15px;
            .head-middle-right-top{
                margin-bottom: 5px;
                margin-top: 10px;
                .btn{
                    display: flex;
                    font-family: $second-font;
                    font-size: 14px;
                    background-color: $btn-color;
                    font-weight: 400;
                    color: white;
                    padding: 8px 15px 6px 15px;
                    border-radius: 5px;
                    border: 1px solid $btn-color;
                    display: inline-block;
                    &:hover{
                        color: white;
                        border-color:$first-color;
                        background-color:$first-color;
                    }
                    &:last-child{
                        background-color: white;
                        color: $btn-color;
                        border: 1px solid $btn-color;
                        &:hover{
                            color: $first-color;
                            transition: $transition;
                            border-color: $first-color;
                        }
                    }
                }
                span{
                    font-size: 22px;
                    font-weight: 100;
                    position: relative;
                    top: 3px;
                }
            }
            .head-middle-right-bottom{
                margin-top: 5px;
                position: relative;
                right: 14%;
                &:hover{
                    border-bottom: 1px solid $btn-color;
                }
                a{
                    color: $btn-color;
                    font-weight: 400;
                    font-size: 12px;
                }
                span{
                    font-size: 12px;
                }
            }
        }
    }
    .head-bottom{
        width: 100%;
        height: 50px;
        border-bottom: 3px solid rgb(37, 126, 34);
        background-color: $first-color;
        margin-top: 10px;
        position: relative;
        border-radius: 5px;
        .navbar{
            display: flex;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            .navbar-menu{
                font-size: 15px;
                display: flex;
                text-align: center;
                line-height: 45px;
                margin-left: 20px;
                a{
                    margin-right: 20px;
                    color: white;
                    i{
                        margin-left: 10px;  
                        position: relative;
                        top: -2px;
                        color: white;
                    }
                }
            }
            .navbar-menu-right{
                margin-right: 10px;
                input{
                    padding: 5px 6px 3px 10px;
                    position: relative;
                    right: -20px;
                    border: 1px solid $first-color;
                    border-radius: 3px;
                    &::placeholder{
                        color: $grey-color;
                        font-size: 14px;
                    }
                }
                button{
                    font-size: 18px;
                    padding: 2px;
                    color: $grey-color;
                    border: none;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                    right: 10px;
                }
            }
        }
    }
}
.banner{
    margin-top: 15px;
    .banner-image{
        width: 100%;
        height: 300px;
        background-image: url(../img/xBankBanner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner-menu{
        height: 70px;
        border-bottom: 3px solid $first-color;
        .banner-menu-main{
            height: 67px;
            display: flex;
            align-items: center;
            border: 1px solid rgb(230, 210, 210);
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            .banner-menu-items{
                border-right: 1px solid rgb(230, 210, 210);        
                a{
                    font-family: $first-font;
                    padding: 21px 30px;
                    color: $first-color;
                    font-weight: bold;
                    font-size: 17px;
                    &:hover{
                        border-bottom: 2px solid $btn-color;
                        background-color: #f6f6f6;
                        transition: $transition;
                    }
                }
            }
        }
    }
    .btn{
        position: absolute;
        top: 240px;
        left: 27px;
        font-family: $second-font;
        font-weight: bold;
        font-size: 20px;
        color: white;
        padding: 8px 24px;
        border-radius: 3px;
        background-color: $first-color;
        &:hover{
            border: 1px solid $first-color;
            background-color: white;
            color: $first-color;
        }
    }
}
.sticky{
    width: 100vh;
    height: 200vh;
    position: absolute;
    top: 0;
    .sticky-banner{
        width: 120px;
        height: auto;
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}